[
    {  "column_partitions" : [ 0, 1820000000 ],
       "size_per_column_partition": 100, "num_parallel_vcf_files" : 1, "compress_tiledb_array" : "true"  }, 
    {  "column_partitions" : [ 0, 922400000, 1820000000, 2510000000 ],
       "size_per_column_partition": 100, "num_parallel_vcf_files" : 1, "compress_tiledb_array" : "true"  }, 
    { "size_per_column_partition": 500, "num_parallel_vcf_files" : 1, "compress_tiledb_array" : "true" },
    { "size_per_column_partition": 1000, "num_parallel_vcf_files" : 1, "compress_tiledb_array" : "true" },

    {  "column_partitions" : [ 0, 1820000000 ],
       "size_per_column_partition": 100, "num_parallel_vcf_files" : 1, "compress_tiledb_array" : "false"  }, 
    {  "column_partitions" : [ 0, 922400000, 1820000000, 2510000000 ],
       "size_per_column_partition": 100, "num_parallel_vcf_files" : 1, "compress_tiledb_array" : "false"  }, 
    { "size_per_column_partition": 500, "num_parallel_vcf_files" : 1, "compress_tiledb_array" : "false" },
    { "size_per_column_partition": 1000, "num_parallel_vcf_files" : 1, "compress_tiledb_array" : "false" }

]
